.counter {
  border: 1px solid;
  border-radius: 4px;
  padding: 20px;
  margin: 20px;
}

.number {
  display: flex;
  margin: auto;
  text-align: center;
  width: fit-content;
  align-items: center;
  font-weight: bold;
}

.btn-set-number {
  display: flex;
  margin-top: 10px;
  width: 200px;
  margin: auto;
  font-weight: bold;
  margin-top: 10px;
}

.btn {
  flex: 1;
  background-color: gray;
  border: 2px solid gray;
  border-radius: 4px;
  height: 32px;
  margin: 5px;
  cursor: pointer;
}

.btn:hover {
  border: 2px solid rgb(238, 205, 58);
}

.input {
  margin-left: 10px;
  margin-top: 20px;
  padding: 4px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
}

.text {
  color: rgb(238, 205, 58);
}

.description {
  font-size: 14px;
  margin-top: 6px;
  text-align: left;
  color: antiquewhite;
}

.logo {
  height: 40px;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
