.app {
  text-align: center;
  background-color: #282c34;
  color: white;
  height: 100vh;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
